{{link-to 'Admin' 'admin'}}

<select onchange={{action 'changeTheme' value='target.value'}}>
  {{#each themes as |theme|}}
    {{#if (eq selectedTheme theme)}}
      <option selected="selected">{{theme}}</option>
    {{else}}
      <option>{{theme}}</option>
    {{/if}}
  {{/each}}
</select>

{{#admin-theme-manager theme=selectedTheme adminConfig=adminConfig as |theme|}}
  {{#if (eq theme 'bootstrap')}}
    {{mount 'ember-admin-bootstrap'}}
  {{/if}}
{{/admin-theme-manager}}
{{outlet}}
